body{

    background-color: #9294A0;
    }
    
.top{
    display: flex;
    align-items: center;
 justify-content: center;
 height: 100vh;
}

.container{
 background-color: aliceblue;
   width: 30%;
   height: 60%;
   
   border-radius: 8%;
}

.img img {
   
    margin-left: 14%;
    margin-top: 7%;
    width: 60px;
}

.header{
    margin-left: 20%;
    margin-top:  6%;
    font-size: 20px;
    
}

.header1{
    margin-left: 20%;
    margin-top: 10%;
}

.btn{
    margin-left: 15%;
    height: 30%;
  
    }

button{
        margin-top: 7%;
        width:90%;
        height: 50%;
        background-color: 	#36384e;
        color: white;
        border-radius: 10px;
   }

   @media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
        width: 100%;
    }
   }

   @media only screen and (max-width: 400px){
    .container{
        flex-direction: column;
        width: 100%;
    }
   }